
.jumbotron {
    background-color: lightpink;
    color: black;
    height: 10px;
    margin-top: 10px;
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: lightpink;
    margin-bottom: 0px;
    margin-top:10px;
}

.card-producto {
    flex: 1 150px;
    padding: 2px 0px 0px 0px;
    margin-top: 10px ;
    margin-left: 2px;
    margin-right: 2px;
    
    border-width: thin;
    border-style: groove;
    border-color: black;    
}

.btn-producto{
    background-color: violet;
    border-color: violet;
    width: 100%;
    /*position: absolute;
    left: 0;
    bottom: 0;*/

}

.footer-adress-icon{
    padding-right: 10px;
}

.containerBanner{
    margin: 0px;
    padding: 0px;
}

.navbar-brand{
    max-width: 50px;
    max-height: 100px;
    padding: 0px;
    margin: 0px;
}

.navbar-collapse {
    margin-left: 25px;
}

.tab-content {
    padding-top: 10px;
}

.labelResult {
    color: blue;
}


.carousel {
    max-width: 40%;
    max-height: 40%;
    left: 30%;
}

.rowSubs{
    margin: 0px;
    padding: 0px;
}

.noSuscripto{
    color: rgb(255, 0, 98);
    cursor: pointer;
}

.suscripto{
    color: green;
    cursor: not-allowed;
}